In [1]:
import numpy as np
import pandas as pd
import math

In [35]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', 
                  names=['sepal length', 'sepal width', 'petal length', 'petal width', 'class'])

In [36]:
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [17]:
df['class'].unique()

[Iris-setosa, Iris-versicolor, Iris-virginica]
Categories (3, object): [Iris-setosa, Iris-versicolor, Iris-virginica]

In [13]:
df['class'] = df['class'].astype('category')

Mengubah atribut class menjadi:
- Iris-setosa = 0
- Iris-versicolor = 1
- Iris-virginica = 2

In [40]:
df = df.replace({'class' : {'Iris-setosa' : 1,
                       'Iris-versicolor' : 2,
                       'Iris-virginica' : 3}})

In [41]:
df.head()

   sepal length  sepal width  petal length  petal width  class
0           5.1          3.5           1.4          0.2      1
1           4.9          3.0           1.4          0.2      1
2           4.7          3.2           1.3          0.2      1
3           4.6          3.1           1.5          0.2      1
4           5.0          3.6           1.4          0.2      1

In [55]:
def normalize(x):
    x_normalize = []
    for i in x:
        i = (i - min(x)) / (max(x) - min(x))
        x_normalize.append(i)
    
    return x_normalize

In [58]:
df['class'] = normalize(df['class'])

In [74]:
euclidean_distances = pdist(df, metric='euclidean')
euc_matrix = squareform(euclidean_distances)
euc_matrix = pd.DataFrame(euc_matrix)

In [72]:
manhattan_distances = pdist(df, metric='cityblock')
manhattan_matrix = squareform(manhattan_distances)
manhattan_matrix = pd.DataFrame(manhattan_matrix)

In [93]:
minkowski_distances = pdist(df, metric='minkowski')
minkowski_matrix = squareform(minkowski_distances)
minkowski_matrix = pd.DataFrame(minkowski_matrix)

In [94]:
supremum_distance = pdist(df, metric='chebyshev')
supremum_matrix = squareform(supremum_distance)
supremum_matrix = pd.DataFrame(supremum_matrix)